.new{
    background-color: rgb(242, 244, 247);
    align-items: center;
    height: 70px;
    width: 1344px;
    display: flex;
    padding: 10px;

}
.box1{
    display: flex;
    text-align:left; 
    align-items: start; 
    position:left;
    padding: 5px 5px 5px 50px;

}
.heading{
    padding: 5px 120px 5px 10px;
}
.box2{
   display: flex;
   justify-content:flex-start;
   margin: 12px ;

}
.box3{
    color: aqua;
    margin: 12px;
    padding: 5px 40px 5px 40px;
}
.box4{
    color: rgb(255, 0, 0);
    margin: 12px;
    padding: 5px 40px 5px 40px;
}
.box5{
    color: rgb(0, 26, 255);
    margin: 12px;
    padding: 5px 40px 5px 40px;
}
.box6{
    color: rgb(0, 255, 21);
    margin: 12px;
    padding: 5px 40px 5px 40px;
}
.btn1{
    background-color: rgb(219, 182, 15);
    color: aliceblue;
    border-radius: 7px;
    height: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
   
}
.box7{
    padding: 5px 30px 5px 120px;
}
.box9 img{
    
    height: 20px;
        width: 20px;
        display: none;
}
.under{
    color: antiquewhite;
}
    
@media screen and (max-width:576px){ 
    .box1{
        display: block;
    }
    .box2{
        display: none;
    }
    .heading{
        display: none;
    }
    .box7{
        display: none;
    }
    .box9 img{
        display:block;
        padding: 5px 10px 5px 320px;
        height: 20px;
        width: 20px;
    }
    .under{
        text-underline-position: black;
    }
}
.Container1{
    align-items: center;
    text-align: start;
    display: flex;
    height: 460px;
    width:1300px ;
    margin: 10px;
    padding: 10px;
    
}
.box10{
    
    height: 250px;
    width:60vw ;
    align-items: center;
    padding:5px 15px 1px 35px;
    
    font-size: 130% ;
}
.color{
    
    margin: 0%;
    padding: 0%;
    color: rgb(255, 136, 1);}
 .color2{
        
        margin: 0%;
        padding: 0%;
        color: rgb(2, 150, 248);
}
.box11 img{
    
    align-items: end;
    height: 450px;
    width:30vw ;
    padding:5px 75px 5px 30px;
}

.btn2{
    background-color: rgb(2, 1, 1);
    color: aliceblue;
    border-radius: 7px;
    height: 30px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
}