*{
    margin: 0;
    padding: 0;
    border: 2 px black;
}



.new{
    background-color: rgb(242, 244, 247);
    align-items: center;
    height: 70px;
    width: 1244px;
    display: flex;
    padding: 10px;

}
.box1{
    display: flex;
    text-align:left; 
    align-items: start; 
    position:left;
    padding: 5px 5px 5px 50px;

}
.heading{
    padding: 5px 120px 5px 10px;
}
.box2{
   display: flex;
   justify-content:flex-start;
   margin: 12px ;

}
.box3{
    color: aqua;
    margin: 12px;
    padding: 5px 40px 5px 40px;
}
.box4{
    color: rgb(255, 0, 0);
    margin: 12px;
    padding: 5px 40px 5px 40px;
}
.box5{
    color: rgb(0, 26, 255);
    margin: 12px;
    padding: 5px 40px 5px 40px;
}
.box6{
    color: rgb(0, 255, 21);
    margin: 12px;
    padding: 5px 40px 5px 40px;
}
.btn1{
    background-color: rgb(219, 182, 15);
    color: aliceblue;
    border-radius: 7px;
    height: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
   
}
.box7{
    padding: 5px 30px 5px 120px;
}
.box9 img{
    
    height: 20px;
        width: 20px;
        display: none;
}
.under{
    color: antiquewhite;
}
    
@media screen and (max-width:576px){ 
    .box1{
        display: block;
    }
    .box2{
        display: none;
    }
    .heading{
        display: none;
    }
    .box7{
        display: none;
    }
    .box9 img{
        display:block;
        padding: 5px 10px 5px 320px;
        height: 20px;
        width: 20px;
    }
    .under{
        text-underline-position: black;
    }
}
.Container1{
    align-items: center;
    text-align: start;
    display: flex;
    height: 460px;
    width:1300px ;
    margin: 10px;
    padding: 10px;
    
}
.box10{
    
    height: 250px;
    width:60vw ;
    align-items: center;
    padding:5px 15px 1px 35px;
    
    font-size: 130% ;
}
.color{
    
    margin: 0%;
    padding: 0%;
    color: rgb(255, 136, 1);}
 .color2{
        
        margin: 0%;
        padding: 0%;
        color: rgb(2, 150, 248);
}
.box11 img{
    
    align-items: end;
    height: 450px;
    width:30vw ;
    padding:5px 75px 5px 30px;
}

.btn2{
    background-color: rgb(2, 1, 1);
    color: aliceblue;
    border-radius: 7px;
    height: 30px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
}

.Container2{
    align-items: center;
    display: flex;
    height: 1px;
    width:92vw ;
    margin: 10px;
    padding: 10px;
    justify-content: center;
}

.Container3 {
    height: 80px;
    width:92vw ;
    text-align: center;
}
.Container4{
    align-items: center;
    display: flex;
    height: 400px;
    width:92vw ;
    margin: 10px;
    padding: 10px;
    justify-content:space-evenly;
}
.Box12 {
    height: 350px;
    width: 300px;
    border: 2px slateblue;
    border-radius: 9px;
    transform: translateX(+10%);
    text-align: center;
    background-color: beige;
}
.Box13 {
    height: 350px;
    width: 300px;
    border: 2px rgb(0, 58, 48);
    border-radius: 9px;
    text-align: center;
    background-color: beige;
}
.Box14{
    height: 350px;
    width: 300px;
    border: 2px rgb(234, 250, 8);
    border-radius: 9px;
    transform: translateX(-10%);
    text-align: center;
    background-color: beige;
}
.Box12 p5{
    color: #041cf5;
}
.Box13 p6{
    color: #e6001f;
}
.Box14 p7{
    color: #04e5f5;
}
.Container5{
    align-items: center;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.box15{
    
    background-color:rgb(253, 174, 2);
    border-radius: 45px;
    height: 45px;
    width: 45px;
    padding: 5px 5px 5px 10px;
    transform: translateX(-10%);
}
.box16{
    
    background-color:rgb(253, 174, 2);
    border-radius: 45px;
    height: 45px;
    width: 45px;
    padding: 5px 10px 5px 5px;
    transform: translateX(+10%);
    
}
.Container6{
    align-items: center;
    display: flex;
    height: 1px;
    width:92vw ;
    margin: 10px;
    padding: 10px;
    justify-content: center;
}

.Container7 {
    height: 80px;
    width:92vw ;
    text-align: center;}

.row{
       
        background-color: #e6e7a3;
        align-items: center;
        display:flex;
        height: 800px;
        width:100vw ;
        padding: 5px;
        justify-content: center;}
        
.squre{
     display: grid;
    gap: 25px;
     grid-template-columns: repeat(2, 1fr);
     text-align: center;
}
.Box17{
    
    height: 620px;
    width: 540px;
    background-color: white;
    border: 2px #041cf5;
    border-radius: 10px;
    text-align: center;
    transform: translateX(-8%)
}
.Box18{
    background-color: aliceblue;
    border-radius: 8px; 
    height: 290px;
    width: 291px;

}
.Box19{
    background-color: aliceblue;
    border-radius: 8px; 
    height: 290px;
    width: 291px;

}
.Box20{
    background-color: aliceblue;
    border-radius: 8px; 
    height: 290px;
    width: 291px;
}
.Box21{
    background-color: aliceblue;
    border-radius: 8px; 
    height: 290px;
    width: 291px;

}
.box30{
    height: 50px;
    width:180px ;
    background-color:rgb(81, 81, 207) ;
    border-radius: 14px;
    align-items:center;}

.Container10{
    display: flex;
    background-color: #0e9af7;
    height:250px ;
    color: aliceblue;
    padding: 40px 35px 70px 55px;
    justify-content:space-between;
}
.box27{
    width: 40vw;
    height: 180px;
    
}
.box28{
    width: 20vw;
    height: 180px;
    transform: translateX(+5%)
}
.box29{
    width: 25vw;
    height: 180px;
    transform: translateX(+10%)
}
.box35{
    display: flex;
}
.box31{
    height: 30px;
    width:150px ;
    background-color:rgb(0, 133, 82) ;
    border-radius: 14px;
    align-items:center;}

.box32{
        height: 30px;
        width:150px ;
        background-color:rgb(75, 75, 207) ;
        border-radius: 14px;
        align-items:center;}
.box33{
            height: 30px;
            width:150px ;
            background-color:rgb(180, 67, 67) ;
            border-radius: 14px;
            align-items:center;}  
.box34{
                height: 30px;
                width:150px ;
                background-color:rgb(230, 212, 58) ;
                border-radius: 14px;
                align-items:center;}      
.box36{
   
  
    height: 30px;
    width:150px ;
    background-color: black;
    text-align: center;
    color: #fffcfc;
    border-radius: 6px;
    transform: translateX(+360%); 
}
.Box-new{
    height: 100 px;
    width: auto;
    background-color: #e6e7a3;
    text-align: center;
    
}

